
.skillhead {
    font-size: 1.2em;
    color: rgb(88, 88, 88);
    font-weight: bolder;
    text-decoration:underline;
    margin-bottom: 10px;
}

.lang{
    padding-top: 5%;
    font-size: .7em;
    width:100%;
    padding-left:5%
}

li{
    margin-bottom: 7px;
}

u{
    color: #C12267;
}

.containers {
    width: 100%;
    background-color: #ddd;   
    height:3px;
    margin-bottom:15px;
  }

.html {
    background-color: #C12267;
    height:3px;
    animation: html 3s;
    position: relative;
    }
@keyframes html{
    form{width:0%;}
    0%{width: 100%;}
    50%{width: 0%;}
    to{width:;}
}

button{
    font-size: 1.22em;
}


@media screen and (max-width:450px) {
    .col1{
        width: 100%;
        min-width: 250px;
        display: flexbox;
    }
    .col2{
        width: 100%;
        min-width: 250px;
        display: flexbox;
        line-height: 160%;
        margin-bottom: 5%;
    }
    .col3{
        width: 100%;
        min-width: 250px;
        display: flexbox;
        font-size: .7em;
    }
    .bg{
        width: 100%;
        background-image: linear-gradient(rgb(250, 250, 250),
        rgb(255, 255, 255));
        margin-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 1em;
        }
    .img{
        border-radius: 50%;
         width: 35%; 
         height: auto;
         margin-top: 17%;
    }
    *{
        font-weight: bold;
        font-size: .98em;
    }
    
}

@media screen and (min-width:600px) {
    *{
        font-weight: bold;
        font-size: 1.005em;
    }
    
    .col1{
        margin-top: 6%;
        margin-left: 5%;
        width:26%;      
    }
    
    .col2{
        margin-top: 6%;
        margin-left: 5%;
        width:30%;  
        line-height: 170%;
    }
    
    .col3{
        margin-top: 6%;
        margin-left:4%;
        margin-right:4.5%;
        width:40%; 
    }
    .bg{
    width: 100%;
    background-image: linear-gradient(rgb(250, 250, 250),
    rgb(255, 255, 255));
    display:flex; 
    margin-bottom: 3%;
    font-size: 1em;
    }
    .img{
        border-radius: 50%;
         width: 85%; 
         height: auto;
    }
}